<!--订单号:{{order}}}

<form action="{{order.OrdNum}}" method="post" read_only="is_suc">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="修改">
</form>

{% if is_suc %}
订单 {{order}} 修改成功
{% endif %}-->

<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Responsive Admin Dashboard Template">
    <meta name="keywords" content="admin,dashboard">
    <meta name="author" content="stacks">
    <!-- The above 6 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <!-- Title -->
    <title>修改订单信息</title>

    <!-- Styles -->
    <link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet">
    <link rel="stylesheet" href="https://www.jq22.com/jquery/bootstrap-4.2.1.css">
    <link href="https://cdn.bootcss.com/font-awesome/5.5.0-2/css/all.min.css" rel="stylesheet">
    <link href="{% static 'plugins/icomoon/style.css'%}" rel="stylesheet">
    <link href="{% static 'plugins/switchery/switchery.min.css'%}" rel="stylesheet">
    <link rel="stylesheet" href="https://www.jq22.com/jquery/bootstrap-3.3.4.css">
    <link rel="stylesheet" href="https://www.jq22.com/jquery/font-awesome.4.7.0.css">
    <style type="text/css">
        .box {
            width: 20px;
            height: 20px;
            padding: 2px;
            border: 1px solid #ccc;
            border-radius: 2px;
        }
    </style>
    <!-- Theme Styles -->
    <link href="{% static 'css/concept.min.css'%}" rel="stylesheet">
    <link href="{% static 'css/order.css'%}" rel="stylesheet">

</head>

<body>
    <!-- Page Container -->
    <div class="page-container">
        <!-- Page Sidebar -->
        <div class="page-sidebar">
            <div class="profile-menu">
                <a href="app-profile.html">
                    <img src="{% static 'images/avatars/avatar1.png' %}" alt="">
                </a>
            </div>
            <div class="page-sidebar-inner">
                <div class="page-sidebar-menu">
                    <ul>
                        <li>
                            <a href="#" data-toggle="tooltip" data-placement="right" title="Customer"><i
                                    class="fas fa-rocket"></i></a>
                        </li>
                        <li>
                            <a href="#" data-toggle="tooltip" data-placement="right" title="Order"><i
                                    class="fas fa-globe-africa"></i></a>
                        </li>
                        <li>
                            <a href="#" data-toggle="tooltip" data-placement="right" title="Deliver"><i
                                    class="fas fa-inbox"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div><!-- /Page Sidebar -->
        <div class="settings-sidebar">
            <div class="settings-sidebar-content">
                <div class="settings-sidebar-header">
                    <span>Settings</span>
                    <a href="javascript: void(0);" class="settings-menu-close"><i class="icon-close"></i></a>
                </div>
                <div class="right-sidebar-settings">
                    <span class="settings-title">General Settings</span>
                    <ul class="sidebar-setting-list list-unstyled">
                        <li>
                            <span class="settings-option">Notifications</span><input type="checkbox" class="js-switch"
                                checked />
                        </li>
                        <li>
                            <span class="settings-option">Activity log</span><input type="checkbox" class="js-switch"
                                checked />
                        </li>
                        <li>
                            <span class="settings-option">Automatic updates</span><input type="checkbox"
                                class="js-switch" />
                        </li>
                        <li>
                            <span class="settings-option">Allow backups</span><input type="checkbox"
                                class="js-switch" />
                        </li>
                    </ul>
                    <span class="settings-title">Account Settings</span>
                    <ul class="sidebar-setting-list list-unstyled">
                        <li>
                            <span class="settings-option">Chat</span><input type="checkbox" class="js-switch" checked />
                        </li>
                        <li>
                            <span class="settings-option">Incognito mode</span><input type="checkbox"
                                class="js-switch" />
                        </li>
                        <li>
                            <span class="settings-option">Public profile</span><input type="checkbox"
                                class="js-switch" />
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="settings-overlay"></div>
        <!-- Page Content -->
        <div class="page-content">
            <div class="secondary-sidebar">
                <div class="secondary-sidebar-bar">
                    <a href="#" class="logo-box">销售与分销</a>
                </div>
                <div class="secondary-sidebar-menu">
                    <ul class="accordion-menu">
                        <li>
                            <a href="index.html">
                                <i class="menu-icon icon-home4"></i><span>主页</span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <i class="menu-icon icon-code"></i><span>客户管理</span><i
                                    class="accordion-icon fas fa-angle-left"></i>
                            </a>
                            <ul class="sub-menu">
                                <li><a href="\customer\create\">创建客户</a></li>
                                <li><a href="\customer\inquery\">修改客户</a></li>
                            </ul>
                        </li>
                        <li class="active-page">
                            <a href="javascript:void(0)">
                                <i class="menu-icon icon-layers"></i><span>订单管理</span><i
                                    class="accordion-icon fas fa-angle-left"></i>
                            </a>
                            <ul class="sub-menu">
                                <li><a href="\order\create\">创建订单</a></li>
                                <li><a href="\order\inquery\" class="active">查询订单及修改信息</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <i class="menu-icon icon-star"></i><span>发货管理</span><i
                                    class="accordion-icon fas fa-angle-left"></i>
                            </a>
                            <ul class="sub-menu">
                                <li><a href="\ship\delivery_create\">创建发货单</a></li>
                                <li><a href="\ship\delivery_inquery\">查询发货单</a></li>
                                <li><a href="\ship\post\">发货</a></li>
                                <li><a href="\ship\check_stock\">查询库存</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="charts.html">
                                <i class="menu-icon icon-show_chart"></i><span>图表</span>
                            </a>
                        </li>
                        <li class="menu-divider"></li>
                        <li>
                            <a href="#">
                                <i class="menu-icon icon-help_outline"></i><span>Documentation</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="menu-icon icon-public"></i><span>SAP SD</span><span
                                    class="badge badge-danger">1.0</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- Page Header -->
            <div class="page-header">
                <div class="search-form">
                    <form action="#" method="GET">
                        <div class="input-group">
                            <input type="text" name="search" class="form-control search-input"
                                placeholder="Type something...">
                            <span class="input-group-btn">
                                <button class="btn btn-default" id="close-search" type="button"><i
                                        class="icon-close"></i></button>
                            </span>
                        </div>
                    </form>
                </div>
                <nav class="navbar navbar-default navbar-expand-md">
                    <div class="container-fluid">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <div class="logo-sm">
                                <a href="javascript:void(0)" id="sidebar-toggle-button"><i class="fas fa-bars"></i></a>
                                <a class="logo-box" href="index.html"><span>concept</span></a>
                            </div>
                            <button type="button" class="navbar-toggler collapsed" data-toggle="collapse"
                                data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                <i class="fas fa-angle-down"></i>
                            </button>
                        </div>

                        <!-- Collect the nav links, forms, and other content for toggling -->

                        <div class="collapse navbar-collapse justify-content-between" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav mr-auto">
                                <li class="collapsed-sidebar-toggle-inv"><a href="javascript:void(0)"
                                        id="collapsed-sidebar-toggle-button"><i class="fas fa-bars"></i></a></li>
                                <li><a href="javascript:void(0)" id="toggle-fullscreen"><i
                                            class="fas fa-expand"></i></a></li>
                                <li><a href="javascript:void(0)" id="search-button"><i class="fas fa-search"></i></a>
                                </li>
                            </ul>
                        </div><!-- /.navbar-collapse -->

                    </div><!-- /.container-fluid -->
                </nav>
            </div><!-- /Page Header -->
            <!-- Page Inner -->
            <div class="page-inner no-page-title">
                <div id="main-wrapper">
                    <div class="content-header">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb breadcrumb-style-1">
                                <li class="breadcrumb-item"><a href="#">订单管理</a></li>
                                <li class="breadcrumb-item active" aria-current="page">修改订单信息</li>
                            </ol>
                        </nav>
                        <h1 class="page-title">修改订单信息</h1>
                    </div>
                    <h5 class="page-desc">订单号：{{order}}</h5>
                    <div class="divider"></div>
                    <div class="row">
                        <div class="col-xl">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">订单基础信息</h5>
                                    <p>你可以在这里修改订单的基础信息。</p>
                                    <form action="{{order.OrdNum}}" method="post" read_only="is_suc" id="sdform">
                                        {% csrf_token %}
                                        <div class="form-row">
                                            <div class="form-group col-md-4">
                                                <label for="exampleInputEmail1">付款客户号</label>
                                                <input class="form-control" aria-describedby="emailHelp"
                                                    name="PayCustNum" value="{{order.PayCustNum}}">
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label for="exampleInputEmail1">收货客户号</label>
                                                <input class="form-control" aria-describedby="emailHelp"
                                                    name="RcvCustNum" value="{{order.RcvCustNum}}">
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col-md-4">
                                                <label for="inputState">货币</label>
                                                <select id="inputState" class="form-control order-select" name="OrdCur">
                                                    <option selected value="CNY">人民币</option>
                                                    <option value="HKD">港元</option>
                                                    <option value="TWD">台币</option>
                                                    <option value="EUR">欧元</option>
                                                    <option value="USD">美元</option>
                                                    <option value="GBP">英镑</option>
                                                    <option value="JPY">日元</option>
                                                </select>
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label for="exampleInputEmail1">发货单截止日期</label>
                                                <input class="form-control" aria-describedby="emailHelp" 
                                                    name="DelDdl" value="{{order.DelDdl}}">
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col-md-4">
                                                <label for="exampleInputEmail1">总体折扣</label>
                                                <input class="form-control" aria-describedby="emailHelp" name="TotDisc"
                                                    value="{{order.TotDisc}}">
                                            </div>
                                        </div>

                                        <div class="divider"></div>
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-md-12" style="padding-bottom:2em;">
                                                    <button class="btn btn-primary" id="add" type="button"><i
                                                            class="fa fa-plus"></i> 添加新的物料</button>
                                                </div>
                                                <div class="col-md-10" style="padding:2em 0;">
                                                    <!--<p>点击 <i class="fa fa-pencil box"></i> 按钮可以对想要购买的物料表格进行编辑，点击 <i class="fa fa-trash-o box"></i>按钮可以将该表格行删除。</p>-->
                                                    <div class="table-responsive">
                                                        <table class="table table-bordered table-striped" id="mytable">
                                                            <thead>
                                                                <tr>
                                                                    <td>物料号</td>
                                                                    <td>订单物料描述</td>
                                                                    <td>数量</td>
                                                                    <td>折扣</td>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                {% for ordmat in ordmat_qs%}
                                                                <tr>
                                                                    <td name="OM_MatNum">{{ ordmat.OM_MatNum }}</td>
                                                                    <td name="OrdMatDesc">{{ordmat.OrdMatDesc}}</td>
                                                                    <td name="OrdMatQty">{{ordmat.OrdMatQty}}</td>
                                                                    <td name="OdrMatDisc">{{ordmat.OdrMatDisc}}</td>
                                                                </tr>
                                                                {%endfor%}
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <input type="submit" class="btn btn-primary" value="修改" id="sdbutton">
                                        <input id="tableinput" name="OM" value="{{ OM }}" type="hidden">
                                        {% if is_suc %}
                                        订单 {{order}} 修改成功
                                        {% endif %}
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div><!-- /Page Content -->
    </div><!-- /Page Container -->
    <!-- Javascripts -->
    <script type="text/javascript">
        var button = document.getElementById("sdbutton");
        var table = document.getElementById("mytable");
        var form = document.getElementById("sdform")
        button.onclick = function () {
            var tr;
            var dataArray = new Array();
            for (var i = 1; i < table.rows.length; i++) {
                date = new Object();
                tr = table.rows[i];
                date.OM_MatNum = tr.cells[0].innerHTML;
                date.OrdMatDesc = tr.cells[1].innerHTML;
                date.OrdMatQty = parseInt(tr.cells[2].innerHTML);
                date.OdrMatDisc = parseFloat(tr.cells[3].innerHTML);
                //将table表对象转换成数组装成json放在数组里
                dataArray.push(JSON.stringify(date));
            }
            //将数组装成json放在数组里
            document.getElementById('tableinput').value = dataArray.toString();
            form.submit();

        }
    </script>
    <script src="https://www.jq22.com/jquery/jquery-1.10.2.js"></script>
    <script type="text/javascript" src="{% static 'js/bootstable.js'%}"></script>
    <script type="text/javascript">
        $('#mytable').SetEditable({
            $addButton: $('#add')
        });
    </script>

    <script src="{% static 'plugins/jquery/jquery-3.1.0.min.js'%}"></script>
    <script src="{% static 'plugins/bootstrap/popper.min.js'%}"></script>
    <script src="{% static 'plugins/bootstrap/js/bootstrap.min.js'%}"></script>
    <script src="{% static 'plugins/jquery-slimscroll/jquery.slimscroll.min.js'%}"></script>
    <script src="{% static 'plugins/switchery/switchery.min.js'%}"></script>
    <script src="{% static 'js/concept.min.js'%}"></script>
</body>

</html>